.image1 {
    background-image: url("../../images/step1.png") !important;
}
.image2 {
    background-image: url("../../images/step2.png") !important;
}
.image3 {
    background-image: url("../../images/step3.png") !important;
}
.image4 {
    background-image: url("../../images/step4.png") !important;
}