:root {
    --main-white: #FCFDFD;
    --main-white-hover: #E7E8E8;

    --main-beige: #F5F5F4;
    --main-beige-hover: #E0E0E0;

    --main-lightblue: #B2BCC2;
    --main-lightblue-hover: #9FACB3;
    
    --main-green: #9AA7A1;
    --main-darkblue: #566067;

  
    --text-weight: 0;

    --text-h1-size: 32px;
    --text-h1-lineheight: 32px;

    --text-h2-size: 24px;
    --text-h2-lineheight: 24px;

    --text-h3-size: 16px;
    --text-h3-lineheight: 16px;

    --text-p-size: 16px;
    --text-p-lineheight: 16px;

    --text-cap-size: 12px;
    --text-cap-lineheight: 12px;

    
  }

  @font-face {
    font-family: 'Arial Narrow';
    src: local('Arial Narrow Bold'), url(./fonts/ArialNarrowBold.ttf) format('truetype');
  }
  @import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;500&display=swap');

  .arial-text-style {
    font-family: 'Arial Narrow';
    font-size: var(--text-h1-size);
    font-weight: var(--text-weight);
    line-height: var(--text-h1-lineheight);
    color: var(--main-darkblue);
    margin: 0;
    text-transform: uppercase;
    letter-spacing: -0.04em;
  }

  h1 {
    font-family: 'Inter Tight', sans-serif;
    font-size: var(--text-h1-size);
    font-weight: 400;
    line-height: var(--text-h1-lineheight);
    color: var(--main-darkblue);
    margin: 0;
  }

  h2 {
    font-family: 'Inter Tight', sans-serif;
    font-size: var(--text-h2-size);
    font-weight: 400;
    line-height: var(--text-h2-lineheight);
    color: var(--main-darkblue);
    margin: 0;
  }

  h3 {
    font-family: 'Inter Tight', sans-serif;
    font-size: var(--text-h3-size);
    font-weight: 400;
    line-height: var(--text-h3-lineheight);
    text-transform: uppercase;
    color: var(--main-darkblue);
    margin: 0;
  }

  p {
    font-family: 'Inter Tight', sans-serif;
    font-size: var(--text-p-size);
    font-weight: 400;
    line-height: var(--text-p-lineheight);
    color: var(--main-darkblue);
    margin: 0;
  }
  body {
    background-color: var(--main-beige);
  }
  * {
    font-family: 'Inter Tight';
    color: var(--main-darkblue);
  }
  .pending {
    color: var(--main-green)
  }
  .active {
    color: var(--main-darkblue) !important;
  }